.manager-pic{
    width: 350px;
    height: 350px;
    padding-left: 40px;
}
.chin-name{
    padding-top: 14px;
    float: left;
    color: #666666;
    font: 24px Georgia, serif;
    font-weight: bold;
}
.Eng-name{
    padding-top:24px;
    font:italic 1em Georgia, serif;
    color: #666666;
}
.sm-position{
    font:16px Georgia, serif;
    color: #666666;
    font-weight: bold;
    padding-top: 8px;

}
.bigtitle{
    color: #666666;
    font: 24px Georgia, serif;
    font-weight: bold;
}
p{
    text-indent:2em;
    font: 20px Georgia,serif;
    line-height: 25px
}
.pagetitle{
    color: #666666;
    font: 2em Georgia, serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 1em;
    padding-top: 1em;
}
.pic_id{
    padding-bottom: 2em;
    line-height:0px;
    font-size: 14px;
    font-weight: bold;
}
.contact1{
    background-color: #ab93b8;
}
.contact2{
    background-color: #cdaeae;
}
.contacttitle{
    color: #666666;
    font: 30px Georgia, serif;
    font-weight: bold;
    text-indent: 2em;
    padding-top: 24px;
}