.manager-pic{
    width: 400px;
    height: 400px;
    padding-left: 40px;
}
.chin-name{
    padding-top: 14px;
    float: left;
    color: #666666;
    font: 24px Georgia, serif;
    font-weight: bold;
}

.Eng-name{
    padding-top:24px;
    font:italic 1em Georgia, serif;
    /*font-weight: bold;*/
    color: #666666;
}
/*介绍企业历史*/
.sm-position{
    font:16px Georgia, serif;
    color: #666666;
    font-weight: bold;
    padding-top: 8px;

}

.bigtitle{
    color: #666666;
    font: 24px Georgia, serif;
    font-weight: bold;
}
/*介绍文字段格式*/
p{
    text-indent:2em;
    font: 20px Georgia,serif;
    line-height: 25px
}
/*每页分类的大标题*/
.pagetitle{
    color: #21a8b9;
    font: 2em Georgia, serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 1em;
    padding-top: 1em;
}
/*照片下标*/
.pic_id{
    padding-bottom: 2em;
    line-height:0px;
    font-size: 14px;
    font-weight: bold;
}
/*“联系我们”的不同栏目*/
.contact1{
    background-color: #ab93b8;
}
.contact2{
    background-color: #cdaeae;
}
.contacttitle{
    color: #666666;
    font: 30px Georgia, serif;
    font-weight: bold;
    text-indent: 2em;
    /*padding-bottom: 1em;*/
    padding-top: 24px;
}
.pages-top{
    height: 200px;
    width:100%;
}
.re_homepage{
    border: 1px #c6c5c5 solid; 
    width: 100px;
    height: 30px;
    position: absolute;
    right: 50px;
    top: 150px;
    text-align: center;
    line-height: 30px
}